<h1>All the Stock</h1>
<div class="add-button">
  <form action="/stocks/new" method="get">
    <input type="submit" value="Add Stock">
  </form>
</div>
<% for stock in @stocks %>
<br>
  <nav2><%= stock.colour()%> <%= stock.type()%></nav2>
  <nav3> by <%= stock.manufacturer.name() %> </nav3>
  <br>
  <div class="details-button">
    <form action="/stocks/<%=stock.id%>" method="get">
      <input type="submit" value="Show details">
    </form>
  </div>
<% end %>
