<!DOCTYPE html>
<html>
  <head>
    <title>Shop Inventory</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="icon" href="/images/pink-shopping-bag.png" />
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  </head>
  <body>
    <main class="flex flex--row">
      <header>
        <a href="/"><img src="/images/pink-shopping-bag.png" alt="bag" class="bag>"
        <div class="container">
          <nav>
            <ul>
              <li><a href="/shops">All Shops </a></li>
              <li><a href="/manufacturers">All Manufacturers  </a></li>
              <li><a href="/stocks">All Stock </a></li>
              <li><a href="/tracker">Tracker </a></li>
            </ul>
          </nav
        </div>
      </header>
      <section id="content">
        <%= yield %>
      </section>
    </main>
  </body>
</html>
