<!DOCTYPE html>
<html>
<head>
  <title>Shop Inventory</title>
</head>
<body>
  <%= yield %>
  <p> <a href="/shops"> All Shops </a> </p>
  <p> <a href="/manufacturers"> All Manufacturers </a> </p>
  <p> <a href="/stocks"> All Stock </a> </p>
</body>
</html>
