<!DOCTYPE html>
<html>
<head>
  <title>Shop Inventory</title>
  <link rel="icon" href="/images/pink-shopping-bag.png" />
</head>
<body>
  <nav>
    <ul>
      <p><a href="/shops"> All Shops </a> </p>
      <p> <a href="/manufacturers"> All Manufacturers </a> </p>
      <p> <a href="/stocks"> All Stock </a> </p>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
