<h1>Edit Stores Details</h1>
<nav2>
<form class="" action="/shops/<%= @shop.id %>" method="post">

  <lable for="name">Stores Name:</label>
  <input id="name" value="<%= @shop.name %>" type-"text" name="name">
<br>
  <lable for="address">Address:</lable>
  <input id="address" value="<%= @shop.address %>" type="text" name="address">
<br>
  <input type="submit" value="Update Store">
<br>
</form>
</nav2>
