<h1>All the Stores</h1>

<% for shop in @shops %>
<br>
  <nav3><%= shop.shop_name() %> </nav3>
  <div class="details-button">
    <form action="/shops/<%=shop.id%>" method="get">
      <input type="submit" value="Show details">
    </form>
  </div>
<% end %>
