<p>All the Manufacturers</p>

<% for manufacturer in @manufacturers %>
  <p> Manufacturer - <%= manufacturer.manufacturer_name() %> </p>
  <p> <a href="/manufacturers/<%=manufacturer.id%>"> Show details </a> </p>
<% end %>
