<h1>Add New Manufacturer</h1>
<nav2>
  <form class="Manufacturer" action="/manufacturers" method="post">

<lable for="name">Manufacturers Name:</lable>
<input id="name" type="text" name="name">
</br>

<label for="address">Address:</label>
  <input id="address" type="text" name="address">
</br>

<label for="delivery_time">Estimated Delivery Time:</label>
  <input id="delivery_time" type="text" name="delivery_time">
</br>

<input type="submit" value="Add new Manufacturer">
</form>
</nav2>
