<p>Manufacturers Name: <%= @manufacturer.name %></p>
<p>Address: <%= @manufacturer.address %></p>
<p>Estimated Delivery Time: <%= @manufacturer.delivery_time %></p>

<p> <a href="/manufacturers/<%=@manufacturer.id%>/edit"> Edit details </a> </p>
